@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    font-size: clamp(0.8rem, 1.2vw, 3rem);;
    font-family: VT323;
    --bg-color: #1a203f;
    --strong-color: #ffbbbf;
    --darker-bg: #131127;
    --da-green: #a1d965;
    --da-pink: #ea5eb2;
    color: var(--da-green, #a1d965);
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#body-div {
    width: 100vw;
    margin: 0px;
    display: flex;
}

h1{
    font-weight: bolder;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

#left-div {
    height: 92vh;
    width: 1vw;
    background-color: var(--bg-color, #1a203f);
}

#main-div {
    height: 92vh;
    width: 59vw;
    background-color: var(--bg-color, #1a203f);
}

img {
    height: 92vh;
    width: 40vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 5px;
    top: 26vh;
    height: 45vh;
    width: 59vw;
    background-color: var(--darker-bg, #131127);
    box-shadow: 0px 2px 8px black;
}

#form-cont {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
}

#text{
    font-size: clamp(1.3rem, 2.5vw, 3rem);
    position: absolute;
    margin: 0px;
    top: 7vh;
    margin-left: 4vw;
}

#text2 {
    font-size: clamp(1rem, 1.6vw, 3rem);
    position: absolute;
    margin: 0px;
    margin-left: 4vw;
    top: 17vh;
}

#title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    left: 1vw;
    top: 40vh;
    position: absolute;
    width: 40vw;
    height: 20vh;
    background-color: var(--darker-bg, #131127);
}

label,input{
    display:flex;
    flex-direction:column;
  }

#logo {
    height: 20vh;
    width: 20vh;
}

input {
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-radius: 7px;
    width: 15vw;
    height: 4vh;
}

input:invalid {
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-color: var(--da-pink, #ea5eb2);
}

input:valid {
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-color: var(--da-green, #a1d965);
}

input:focus {
    border-color: #47b6e2;
    box-shadow: 0px 1px 8px black;
}

button {
    box-shadow: 0px 2px 8px black;
    font-size: clamp(0.8rem, 1.7vw, 3rem);
    position: absolute;
    bottom: -12vh;
    left: 3vw;
    height: 8vh;
    width: 20vw;
    border-radius: 9px;
}

#login {
    position: absolute;
    bottom: 8vh;
    left: 45vw;
}

#caption {
    font-size: clamp(2rem, 2.5vw, 3rem);
    margin: 0vw;
    margin-top: 2vh;
    margin-left: 4vw;
}

#required-caption {
    margin-left: 4vw;
}

button {
    overflow: hidden;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: var(--da-pink, #ea5eb2);
  
    border: none;
    border-radius: 10px;
  
    padding: 10px 40px;
    cursor: pointer;
  }

  a{
      color: var(--da-pink, #ea5eb2);
  }

  label {
    font-size: clamp(0.6rem, 1.2vw, 3rem);
  }

  #footer {
      height: 8vh;
      width: 100vw;
      background-color: var(--darker-bg, #131127);
      display: flex;
      align-items: center;
      justify-content: center;
  }